.username {
    color: aliceblue;
    text-align: left;
}

.categories {
        color: aliceblue;
        text-align: left;
}

.break {
    padding: 20px;
}

.overview {
    padding-left: 30px;
    padding-bottom: 20px;
    text-align: left;

}